<ng-template #successToast let-data>
	Menu Item {{data.name}} has been succesfully edited {{data.action}}
</ng-template>
<div class = "container mt-5 text-start">
    <h2>Edit Menu Item</h2>
    <form [formGroup]="menuItemForm" (ngSubmit)="onSubmit(successToast)">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name" />
          </div>
    
          <div class="mb-3">
            <label for="orderNo" class="form-label">Order Number</label>
            <input type="number" id="orderNo" class="form-control" formControlName="orderNo" />
          </div>
          <div class="mb-3">
            <label for="iconClass" class="form-label">Icon Class</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="iconClass" formControlName="iconClass" placeholder="Select Icon" aria-label="Selected Icon">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-label="Icon Dropdown">
                <i [class]="menuItemForm.controls['iconClass'].value"></i>
              </button>
              <ul class = "dropdown-menu dropdown-menu-end">
                <li *ngFor="let icon of fontAwesomeIcons">
                  <button type="button" class="dropdown-item d-flex align-items-center dropdown-item-custom" (click)="menuItemForm.controls['iconClass'].setValue(icon)">
                    <i [class]="icon"></i>
                    <span class="icon-text-ms-2">{{icon}}</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="mb-3">
            <label for="link" class="form-label">Link</label>
            <input type="text" id="link" class="form-control" formControlName="link" />
          </div>

          <div class="mb-5">
            <app-roletable [menuItemId]="menuItemId"></app-roletable>
          </div>

          <div class="row">
            <div class="col">
              <button class="btn btn-secondary" (click)="back()">Back</button>
            </div>
            <div class="col text-end">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
</div>

