<ng-template #successToast let-data>
	User {{data}} Edited!
</ng-template>

<div class="container mt-5 text-start">
    <h2>Edit User</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(successToast)">
      
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="userName" class="form-label">Username</label>
            <input type="text" id="userName" class="form-control" formControlName="userName" />
          </div>
          
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name" />
          </div>
        
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email" />
          </div>    
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary mb-3" (click)="openCameraModal()">Camera</button>
          <div class="mb-3" *ngIf="user?.profilePictureData">
            <div>Profile Picture</div>
            <img src="{{user?.profilePictureData}}" alt="" class="img-fluid">
          </div>      
        </div>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" id="active" class="form-check-input" formControlName="active" />
        <label for="active" class="form-check-label">Active</label>
      </div>

      <div class="mb-3">
        <label for="createdOn" class="form-label">Created On</label>
        <input type="text" id="createdOn" class="form-control" formControlName="createdOn" />
      </div>
  
      <div class="mb-3">
        <label for="lastUpdatedOn" class="form-label">Last Updated On</label>
        <input type="text" id="lastUpdatedOn" class="form-control" formControlName="lastUpdatedOn" />
      </div>
      <div class="mb-5">
        <app-roles-table [user]="user"></app-roles-table>
      </div>
      
      <div class="row">
        <div class="col">
          <button class="btn btn-secondary" (click)="back()">Back</button>
        </div>
        <div class="col text-end">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>
  </div>
  