<div class="container">
  <h1 class="text-start justify-content-start mt-lg-5 mb-lg-3">Admin Dashboard</h1>
  <div class="row">
  <div class="col-xl-4 col-md-6 mb-4">
  <app-chart [chart]="{type: 'card', title: 'Admin Logins', data: admins, icon: 'calendar'}"></app-chart>
  </div>
   
      <div class="col-xl-4 col-md-6 mb-4">
  <app-chart [chart]="{type: 'card', title: 'Supervisor Logins', data: supervisors, icon: 'calendar-times-o'}"></app-chart>
  </div>
   
      <div class="col-xl-4 col-md-6 mb-4">
  <app-chart [chart]="{type: 'card', title: 'Operator Logins', data: operators, icon: 'users'}"></app-chart>
  </div>
  </div>
  <div class="row">
  <div class="col-xl-4 col-md-4 mb-4">
  <app-chart [chart]="{type: 'doughnut',
                   title: 'Login Attempts',
                   labels: [['Successfull'], ['Unsuccessfull']],
                   data: [{data: [successfullAttempts, unsuccessfullAttempts], backgroundColor: ['#007bff','#dc3545']}],
                   legend: true,  options: {rotation: 180, circumference: 360
  }}"></app-chart>
  </div>
  <div class="col-xl-4 col-md-4 mb-4">
    <app-chart [chart]="{
        type:'pie',
        title:'Users',
        labels: roleNames,
        data:[{data:roleNumbers}],
        legend: true,  options: {rotation: 180, circumference: 360},
        
    }"></app-chart>
</div>
<button type="button" class="btn btn-primary col-xl-4 col-md-4 mb-4" (click)="export()">Create Report</button>
  

</div>
<div class="row justify-content-end">
    <button type="button" class="btn btn-primary col-xl-2 col-md-2 mb-4" (click)="export()">Create Report</button>
</div>
  <table mat-table [dataSource]="dataSource" class="table table-hover">

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef class="table-head-text"> Username </th>
      <td mat-cell *matCellDef="let attempt"> {{attempt.username}} </td>
    </ng-container>

    <ng-container matColumnDef="loginAttemptResult">
      <th mat-header-cell *matHeaderCellDef class="table-head-text"> Result </th>
      <td mat-cell *matCellDef="let attempt"> {{attempt.loginAttemptResult}} </td>
    </ng-container>

    <ng-container matColumnDef="loginMessage">
      <th mat-header-cell *matHeaderCellDef class="table-head-text"> Message </th>
      <td mat-cell *matCellDef="let attempt"> {{attempt.loginMessage}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="table-head-text"> Date </th>
        <td mat-cell *matCellDef="let attempt"> {{attempt.loginDate | date:'medium'}} </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[30, 50, 100]" ></mat-paginator>
  </div>