<ng-template #deleteToast let-data>
	<svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24" viewBox="0 0 24 24">
		<path
			d="M10.872 6.831l1.695 3.904 3.654-1.561-1.79 3.426 3.333.954-3.417 1.338 2.231 4.196-4.773-2.582-2.869 2.287.413-3.004-3.792-.726 2.93-1.74-1.885-2.512 3.427.646.843-4.626zm-.786-6.831l-1.665 9.119-6.512-1.228 3.639 4.851-5.548 3.294 7.108 1.361-.834 6.076 5.742-4.577 9.438 5.104-4.288-8.064 6.834-2.677-6.661-1.907 3.25-6.22-6.98 2.982-3.523-8.114z"
		/>
	</svg>
	Container {{data}} Deleted!
</ng-template>

<ng-template #deleteModal let-modal let-container="container">
	<div class="modal-header">
		<h4 class="modal-title text-danger" id="modal-basic-title">Alert!</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <h3>Are you sure you want to delete Container {{selectedContainer?.name}}?</h3>
	</div>
	<div class="modal-footer justify-content-between">
		<button type="button" class="btn btn-outline-secondary" (click)="modal.close('Back')">Back</button>
		<button type="button" class="btn btn-outline-danger" (click)="modal.close('Delete')">Yes</button>
	</div>
</ng-template>


<div class="container">
  <h1 class="text-start justify-content-start mt-lg-5">Containers</h1>

    <div class="row mb-3">
      <div class="col text-end">
        <button class="btn btn-primary" routerLink="/add-container">Add</button>
      </div>
    </div>
  <table mat-table [dataSource]="dataSource" class="table table-hover">

    <ng-container matColumnDef="containerName">
      <th mat-header-cell *matHeaderCellDef class="table-head-text"> Container Name </th>
      <td mat-cell *matCellDef="let container"> {{container.name}} </td>
    </ng-container>

    <ng-container matColumnDef="containerCode">
      <th mat-header-cell *matHeaderCellDef class="table-head-text"> Container Code </th>
      <td mat-cell *matCellDef="let container"> {{container.containerCode}} </td>
    </ng-container>

    <ng-container matColumnDef="productCode">
      <th mat-header-cell *matHeaderCellDef class="table-head-text"> Product Code </th>
      <td mat-cell *matCellDef="let container"> {{container.productCode}} </td>
    </ng-container>
    <ng-container matColumnDef="containerType">
      <th mat-header-cell *matHeaderCellDef class="table-head-text"> Container Type </th>
      <td mat-cell *matCellDef="let container"> {{container.containerType}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef class="table-head-text"> Quantity </th>
      <td mat-cell *matCellDef="let container"> {{container.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="UOM">
      <th mat-header-cell *matHeaderCellDef class="table-head-text"> UOM </th>
      <td mat-cell *matCellDef="let container"> {{container.uomName}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="table-head-text">Actions</th>
      <td mat-cell *matCellDef="let container">
        <div class="row">
          <div class="col">
            <button class="btn btn-primary" (click)="editContainer(container)">Edit</button>
          </div>
          <div class="col">
            <button class="btn btn-danger ml-lg-3" (click)="openDeleteModal(container,deleteModal,deleteToast)" [disabled]="!container.active">Delete</button>
          </div>
        </div>
      </td>
  </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" ></mat-paginator>
</div>
  