<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card">
          <div class="card-body text-start">
            <h3 class="text-start justify-content-start">Login</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group mb-3">
                <label for="username" class="form-label">Username</label>
                <input
                  type="text"
                  id="username"
                  formControlName="username"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': loginForm.get('username')?.invalid && loginForm.get('username')?.touched }"
                />
                <div class="invalid-feedback">
                  Username is required
                </div>
              </div>
  
              <div class="form-group mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  id="password"
                  formControlName="password"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched }"
                />
                <div class="invalid-feedback">
                  Password is required
                </div>
              </div>
  
              <button type="submit" class="btn btn-primary col-md-3">Login</button>
            </form>
            <div class="pt-3">
                <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-muted small">Register here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  