<nav class="navbar  navbar-dark bg-dark text-light fixed-top justify-content-start">
    <a class="navbar-brand" routerLink="/menus">
        <i class="fas fa-car"></i>Torque and Tread
    </a>
    <div class="d-none d-lg-flex ml-auto align-items-end">
        <!-- <ul class=""> -->
        <!-- <li class="nav-item"> -->
        <a class="nav-link p-2 m-1" routerLink="/menus">
            <i class="fas fa-bars me-2"></i>Menus
        </a>
        <!-- </li> -->
        <!-- <li class="nav-item"> -->
        <a class="nav-link p-2 m-1" routerLink="/users">
            <i class="fa-solid fa-house me-2"></i>Users
        </a>
        <!-- </li> -->
        <!-- <li class="nav-item"> -->
        <a class="nav-link p-2 m-1" routerLink="/roles">
            <i class="fas fa-sign-in-alt me-2"></i>Roles
        </a>
        <!-- </li> -->
        <!-- <li class="nav-item"> -->
        <a class="nav-link p-2 m-1" routerLink="/products">
            <i class="fas fa-sign-in-alt me-2"></i>Products
        </a>
        <!-- </li> -->
        <!-- <li class="nav-item"> -->
        <a class="nav-link p-2 m-1" routerLink="/containers">
            <i class="fas fa-sign-in-alt me-2"></i>Containers
        </a>
        <a class="nav-link p-2 m-1" routerLink="/boms">
            <i class="fas fa-sign-in-alt me-2"></i>BOMs
        </a>
        <!-- </li> -->
        <!-- <li class="nav-item"> -->
        <a class="nav-link p-2 m-1" routerLink="/productionorders">
            <i class="fas fa-sign-in-alt me-2"></i>Production Orders
        </a>
        <!-- </li> -->
        <!-- <li class="nav-item"> -->
        <a class="nav-link p-2 m-1" routerLink="/policy">
            <i class="fas fa-sign-in-alt me-2"></i>Policy
        </a>
        <!-- </li> -->
        <!-- </ul> -->
    </div>

    <button class="btn d-lg-none p-0 border-0 ms-auto" type="button" id="navbarSideCollapse" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end offcanvas-small bg-dark" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
            <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body offcanvas-body-small">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link p-2 m-1" routerLink="/menus">
                        <i class="fas fa-bars me-2"></i>Menus
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 m-1" routerLink="/users">
                        <i class="fa-solid fa-house me-2"></i>Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 m-1" routerLink="/roles">
                        <i class="fas fa-sign-in-alt me-2"></i>Roles
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 m-1" routerLink="/products">
                        <i class="fas fa-sign-in-alt me-2"></i>Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 m-1" routerLink="/containers">
                        <i class="fas fa-sign-in-alt me-2"></i>Containers
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 m-1" routerLink="/boms">
                        <i class="fas fa-sign-in-alt me-2"></i>BOMs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 m-1" routerLink="/productionorders">
                        <i class="fas fa-sign-in-alt me-2"></i>Production Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 m-1" routerLink="/policy">
                        <i class="fas fa-sign-in-alt me-2"></i>Policy
                    </a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <a class="dropdown-toggle nav-item" id="dropdownProfileButton" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle nav-link"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownProfileButton">
              <li><a class="dropdown-item" (click)="logout();">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="logout();">Logout</a></li>
            </ul>
          </div>
    </div>
</nav>