<nav class="navbar navbar-dark bg-dark text-light fixed-top justify justify-content-start">
    <div class= "container-fluid d-flex justify-content-start">
        <div class="d-flex align-items-start">
        <a class="navbar-brand" routerLink="/menus">
            <img src="assets/images/toqueandtread-removebg.png" width="50" height="50">
        </a>
        <div class="d-none d-lg-flex align-items-start">
            <ng-container *ngFor="let menuItem of menuItems">
                <a class="nav-link p-2 h-100" [routerLink]="menuItem.link" style="margin-top: 4px;">
                    <i class="fas" [ngClass]="menuItem.iconClass"></i>
                    <span class="ms-2">{{menuItem.name}}</span>
                </a>
            </ng-container>
            <a class="nav-link p-2 h-100" [routerLink]="'/policy'" style="margin-top: 4px;">
                <i class="fas fa-file-contract"></i>
                <span class="ms-2">Privacy Policy</span>
            </a>
        </div>
    </div>
            <div class="dropdown d-none d-lg-flex align-items-center ms-auto" *ngIf="loggedIn">
                <a class="nav-link dropdown-toggle d-flex align-items-center" id="dropdownProfileButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user me-2" *ngIf="!profilePictureSource"></i>
                    <img src="{{profilePictureSource}}" alt="User" class="rounded-circle" style="width: 35px; height: 35px; margin-right: 10px;" *ngIf="profilePictureSource">
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownProfileButton">
                    <li><a class="dropdown-item" (click)="openProfile();">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" (click)="logout();">Logout</a></li>
                </ul>
            </div>
            <button class="btn d-lg-none p-0 border-0 ms-auto" type="button" id="navbarSideCollapse" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon"></span>
            </button>
    </div>
        <!-- </li> -->
        <!-- </ul> -->

       

    <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
            <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav ml-auto container-fluid">
                <ng-container *ngFor="let menuItem of menuItems">
                    <a class="nav-link p-2 m-1 text-start" [routerLink]="menuItem.link">
                        <i class="fas me-2" [ngClass]="menuItem.iconClass"></i>
                        <span class="ms-2">{{menuItem.name}}</span>
                    </a>
                </ng-container>
                <a class="nav-link justify-content-start" [routerLink]="'/policy'" style="margin-top: 4px;">
                    <i class="fas fa-file-contract"></i>
                    <span class="ms-2">Privacy Policy</span>
                </a>
                <li class="nav-item">
                    <div class="dropdown ms-auto" *ngIf="loggedIn">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" id="dropdownProfileButton" data-bs-toggle="dropdown" aria-expanded="false" style="margin: 12px;">
                            <i class="fas fa-user me-2" *ngIf="!profilePictureSource"></i>
                            <img src="{{profilePictureSource}}" alt="User" class="rounded-circle m-1" style="width: 35px; height: 35px; margin-right: 10px;" *ngIf="profilePictureSource">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownProfileButton">
                            <li><a class="dropdown-item" data-bs-dismiss="offcanvas" (click)="openProfile();">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" data-bs-dismiss="offcanvas" (click)="logout();">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
