<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="/menus">
        <i class="fas fa-car"></i>Torque and Tread
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/menus">
                    <i class="fas fa-bars"></i>Menus
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/users">
                    <i class="fa-solid fa-house"></i>Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/roles">
                    <i class="fas fa-sign-in-alt"></i>Roles
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/products">
                    <i class="fas fa-sign-in-alt"></i>Products
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/containers">
                    <i class="fas fa-sign-in-alt"></i>Containers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/productionorders">
                    <i class="fas fa-sign-in-alt"></i>Production Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/policy">
                    <i class="fas fa-sign-in-alt"></i>Policy
                </a>
            </li>
        </ul>
    </div>
</nav>


