<ng-template #successToast let-data>
	BOM {{data}} Added!
</ng-template>

<div class="container mt-5 text-start">
    <h2>Add BOM</h2>
    <form [formGroup]="bomForm" (ngSubmit)="onSubmit(successToast)">
  
      <div class="mb-3">
        <label for="name" class="form-label">BOM Name</label>
        <input type="text" id="name" class="form-control" formControlName="bomName" />
      </div>
      <div class="mb-3">
        <label for="bomCode" class="form-label">BOM Code</label>
        <input type="text" id="bomCode" class="form-control" formControlName="bomCode" />
      </div>
        <div class="mb-3">Product</div>
        <div class="dropdown mb-3">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{selectedProduct?selectedProduct.productCodeName:"Select Product"}}
          </button>
          <ul class="dropdown-menu">
            @for(product of products;track product){
            <li><a class="dropdown-item icon-link-hover" (click)="selectProduct(product)">{{product.productCodeName}}</a></li>
            }
          </ul>
        </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-secondary" (click)="back()">
            <i class = "fas fa-arrow-left me-2"></i>Back</button>
        </div>
        <div class="col text-end">
          <button type="submit" class="btn btn-success">
            <i class = "fas fa-check me-2"></i>Save</button>
        </div>
      </div>
    </form>
  </div>
  