
<div class="row mb-3 justify-content-around">
    <div class="col">
        <h1 class="text-start">Materials</h1>
    </div>
    <div class="col text-end">
        <button class="btn btn-primary align-self-end" (click)="addMaterial();$event.preventDefault()"> <i class = "fas fa-plus me-2"></i>Add</button>
    </div>

</div>

    @if(loaded){
    @if(hasProducts)
      {
        <table mat-table [dataSource]="dataSource" class="table table-hover">

        <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef class="table-head-text"> Product Name </th>
        <td mat-cell *matCellDef="let product"> {{product.name}} </td>
        </ng-container>

        <ng-container matColumnDef="productCode">
        <th mat-header-cell *matHeaderCellDef class="table-head-text"> Product Code </th>
        <td mat-cell *matCellDef="let product"> {{product.productCodeName}} </td>
        </ng-container>

        <ng-container matColumnDef="productType">
        <th mat-header-cell *matHeaderCellDef class="table-head-text"> ProductType </th>
        <td mat-cell *matCellDef="let product"> {{product.productTypeName}} </td>
        </ng-container>

        <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef class="table-head-text"> Created On </th>
        <td mat-cell *matCellDef="let product"> {{product.createdOn | date:'medium'}} </td>
        </ng-container>

        <ng-container matColumnDef="lastUpdatedOn">
        <th mat-header-cell *matHeaderCellDef class="table-head-text"> Last Updated On </th>
        <td mat-cell *matCellDef="let product"> {{product.lastUpdatedOn | date:'medium'}} </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef class="table-head-text"> Quantity</th>
            <td mat-cell *matCellDef="let product"> {{product.quantity}} </td>
            </ng-container>
        <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="table-head-text">Actions</th>
        <td mat-cell *matCellDef="let product">
            <div class="row">
            <div class="col">
                <button class="btn btn-primary" (click)="editProduct(product);$event.preventDefault()">Edit</button>
            </div>
            <div class="col">
                <button class="btn btn-danger ml-lg-3"  [disabled]="!product.active" (click)="deleteProduct(product);$event.preventDefault()">Delete</button>
            </div>
            </div>
        </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" ></mat-paginator>
}@else {
    <h3>No material Products</h3>
}
}@else {
    <div
        class="d-flex justify-content-center align-items-center"
    >
        <div
            class="spinner-border text-primary spinner-border-sm"
            role="status"
        >
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    
}